@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Light.ttf');
}

*{
 font-family: 'RobotoMono';
}

body{
  display: flex ;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
}